.catalogFilter__row{
  display: flex;
  align-items: center;
  column-gap: 70px;
  margin-bottom:20px;
}


.filter__select{
  border: none;
  border-bottom: 2px #CCA88A solid;
  padding: 8px 10px 8px;
  outline: none;
}