.sidebar{
  width: 25%;
  &__title{
    font-size: 20px;
    line-height: 23px;
    color: #252525;
  }
  &__menu{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    row-gap: 25px;
    &-item{
      font-size: 17px;
      line-height: 19px;
      color: #252525;
      cursor: pointer;
      &:hover{
        color: #E0BEA2;
      }
      &.active{
        color: #E0BEA2;
      }
    }
  }
}